body {
  font-family: 'Manrope', sans-serif;
}

.bg-light {
  color: #ededed;
}

.font-anton {
  font-family: 'Anton', sans-serif;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.navbar p {
    font-weight: 700;
    color: #D04F4F;
    align-items: center;
}

.card-img-top img {
    height: 255px;
    width: 100%;
    object-fit: cover;
}
.small-text {
  position: absolute;
  right: 10px;
}

.text-muted {
  height: 26px;
  width: auto;
  top: 21px;
  border-radius: 14px;
  padding: 5px 15px 5px 15px;
  background-color: #FFD15B;
}

.ingredient-name {
  font-weight: bold;
}

.ingredient-details {
  font-weight: lighter;
  color: #888;
}


.ingredients-list {
  columns: 2;
  column-gap: 20px;
}

.ingredients-list li {
  list-style-type: none;
}




.toto {
    border: solid 6px red;
}
.dropdown {
  position: relative;
  height: 56px;
  width: 195px;
  border-radius: 11px;
  background-color: white;
  margin: 0 2rem 0 0;
}

.dropdown-arrow {
  position: relative;
  padding: 17px 16px;
  background-color: white;
  color: black;
  border-radius: 11px;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  padding: 17px 16px;
  background-color: white;
  color: black;
  width: 100%;
}

.search-input-dropdown {
  width: 100%;
}

.dropdown-content.show {
  display: block;
  max-height: 315px;
  overflow-y: auto;
  border-radius: 11px;
  top: 40px;
}

.dropdown-arrow {
  cursor: pointer;
}

.dropdown-arrow::after {
  visibility: hidden;
}

.dropdown-arrow .chevron::before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  transform: translateY(50%) rotate(135deg);
  margin-left: 0.25em;
  transition: transform 0.3s ease;
}

.dropdown-arrow.opened .chevron::before {
  transform: translateY(50%) rotate(-45deg);
}

.dropdown-list-scrollable {
  max-height: 200px; /* Customize the height as needed */
  overflow-y: auto;
}

.dropdown-list ul{
  padding: 0 !important;
  margin: 0 !important;
}

.dropdown-list li {
  list-style-type: none;
  cursor: pointer;
}

.dropdown-list:hover {
  background-color: #FFD15B;
}

#tags-container {
  display: flex;
}

.tag  {
  display: flex;
  justify-content: space-between;
  background-color: #FFD15B;
  color: black;
  height: 53px;
  width: 203px;
  left: 104px;
  top: 765px;
  border-radius: 10px;
  padding: 17px 18px 17px 18px;
  margin: 0 1rem 0 0;
}